#a
{
    color:palevioletred;
    top:0;
    margin-left:400px;
  padding: 40px40px40px40px;
}
#b
{
    position:absolute;
    color:rgb(177, 130, 238);
    top:100px;
    margin-left:300px;
    font-size:25px;

}
h2{
   color:palevioletred; 
    margin-left:350px;
}
#m
{
    margin-left:350px;
    
}
